spring:
  datasource:
    driver-class-name: org.h2.Driver
    schema: classpath:db/schema-h2.sql
    data: classpath:db/data-h2.sql
    # No restrictions on table names
    url: jdbc:h2:mem:h2
    # No restrictions on username and password
    username: root
    password: root
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

#mybatis
mybatis:
  type-aliases-package: com.liming.entity
  mapper-locations: classpath:/mybatis/*.xml